// ==================================================
// CSS Custom Properties
// ==================================================

:root {
  // Colours
  // -------------------------------------------
  --colour-white: #fff;
  --colour-black: #000;

  // use-case colours
  --colour-body: var(--colour-black);
  --colour-heading: var(--colour-black);

  // Fonts
  // -------------------------------------------
  --font-family-avenir: 'Avenir W01', -apple-system, BlinkMacSystemFont, sans-serif;
  --font-family-nexa: 'nexaheavy', -apple-system, BlinkMacSystemFont, sans-serif;

  // Typography
  // -------------------------------------------

  // Layout
  // -------------------------------------------

  // Z Indices
  // -------------------------------------------

  // Animation
  // -------------------------------------------
}
