// ==================================================
// Image
// ==================================================

.c-image {
  display: inline-block;

  svg,
  img {
    display: block;
    max-width: 100%;
    height: auto;
  }

  img {
    position: absolute;
    opacity: 0;
  }

  svg {
    fill: lightgray;
  }

  &.is-loaded {
    svg {
      display: none;
    }

    img {
      position: relative;
      opacity: 1;
    }
  }
}
